@{
    ViewData["Title"] = "Katılımcılar";
}

<h2>Katılımcılar</h2>

<table>
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Etkinlik Adı</th>
            <th>Etkinlik Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var katilimci in Model)
        {
            <tr>
                <td>@katilimci.Kullanici.KullaniciAdi</td>
                <td>@katilimci.Etkinlik.EtkinlikAdi</td>
                <td>@katilimci.Etkinlik.EtkinlikDurumu</td>  <!-- Etkinlik Durumu -->
            </tr>
        }
    </tbody>
</table>
